.field-container {
  padding: 1em 0 0;
}

.field-container .MuiInputBase-input {
  padding: 6px 0 1px;
}

.field-container .MuiFormLabel-root {
  color: #11172b;
}

.dark-bg .field-container .MuiFormLabel-root {
  color: #FFF;
}

.dark-bg .MuiSelect-select {
  color: #FFF;
}

/* .field-container .MuiFormControl-root {
  border-bottom: 1px solid #11172b;
}

.dark-bg .field-container .MuiFormControl-root {
  border-bottom: 1px solid #FFF;
} */

.dark-bg .MuiSvgIcon-root {
  fill: #FFF;
}

.field-container .MuiOutlinedInput-notchedOutline {
  border-color: transparent;
  border-bottom: 1px solid #11172b;
}

.field-container .MuiInputBase-root.MuiInput-root.MuiInput-underline {
  border-color: transparent;
  border-bottom: 1px solid #11172b;
}

.dark-bg .field-container .MuiInputBase-root.MuiInput-root.MuiInput-underline {
  border-bottom: 1px solid #FFF;
}


.field-container .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: transparent;
  border-bottom: 1px solid #11172b;
  outline: none;
}
.field-container .MuiInput-underline:hover:not(.Mui-disabled):before {
  border-color: transparent;
  outline: none;
}
.field-container .MuiOutlinedInput-root {
  border-radius: 0;
}
.field-container .MuiAutocomplete-clearIndicator {
  display: none;
}
.field-container
  .MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon
  .MuiAutocomplete-inputRoot[class*='MuiOutlinedInput-root'] {
  padding-right: 30px;
}
.field-container .MuiSvgIcon-root {
  font-size: 1em;
}
.field-container .MuiInput-underline:before {
  border-color: transparent;
}
.field-container .MuiAutocomplete-inputRoot[class*='MuiOutlinedInput-root'] {
  padding: 9px 0 5px;
}
.dark-bg .field-container .MuiAutocomplete-inputRoot[class*='MuiOutlinedInput-root'] {
  border-bottom: 1px solid #FFF;
}
.field-container
  .MuiAutocomplete-inputRoot[class*='MuiOutlinedInput-root']
  .MuiAutocomplete-input {
  padding: 9.5px 4px 0;
}

.field-container .search-btn {
  width: 8em;
  height: 3em;
}

.field-container input {
  background-color: transparent;
  border: none;
  /* border-bottom: 1px solid #fff; */
  color: #11172b;
  width: 100%;
}

.dark-bg .field-container input {
  color: #fff;
}

.field-container input:focus {
  outline: none;
}
