.msg {
    width: 100%;
    padding: .5em;
    font-size: 13px;
    font-weight: 500;
    position: relative;
  }
  .msg::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    position: absolute;
    left: 0.5em;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .msg.success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
    padding-left: 1em;
  }

  .msg.error {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
  }
  .msg.error::before {
    /* background-image: url("images/error.png"); */
  }

  .msg.info {
    color: #055160;
    background-color: #cff4fc;
    border-color: #b6effb;
  }
  .msg.info::before {
    /* background-image: url("images/info.png"); */
  }
